
{% extends 'base.html.twig' %}

{% block title %}Todolist app{% endblock %}

{% block body %}

    <div>
        Add new todo:
        {{ form_start(newTodoForm) }}
        {{ form_label(newTodoForm.description) }}
        {{ form_widget(newTodoForm.description) }}

        {{ form_label(newTodoForm.dueDate) }}
        {{ form_widget(newTodoForm.dueDate) }}

        {{ form_label(newTodoForm.save) }}
        {{ form_widget(newTodoForm.save) }}

        {{ form_end(newTodoForm) }}
    </div>

    <div class="todoList">
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Due date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                <tr class="{{ todo.isDone ? 'isDone' : '' }}">
                    <td>{{ todo.description }}</td>
                    <td>{{ todo.dueDate | date('d.m.Y')}}</td>
                    <td><a href="#" class="mark_done" data-id="{{ todo.id }}">Mark done</a> | <a href="{{ path('viewTodoItem', {id: todo.id}) }}">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}